@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    background: url(../images/projects_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
	font-size: 30px;
}

h1, h2, h3, h4, p{
	color: rgba(12,9,10,1);
	font-family: Montserrat;
}

a{
	color: rgba(12,9,10,1);
	text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding-left:15px; 
    margin:0;
}

.navigation, .menu, .text{
	padding: 10px;
	margin: 20px;
	background-color: rgba(209,208,206,0.9);
}

.text{
	height: 95%;
	/*display: flex;
    align-items: center;*/
}
.menu{
	height: 77%;
}

.menu-modified{
	height: 77%;
	padding: 10px;
	margin: 20px;
}

.menu div{
	display: none;
}

.center-table{
	margin: 0 auto !important;
	float: none !important;
	width: 70%;
}

.center-table td h4{
 	margin: 0px;
}

.progress-bar-holder{
	width:50%;
}

.progress{background-color: rgba(255, 255, 255, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 0px; height: 20px;}
.progress-bar-custom {background: rgba(0, 0, 0, 1);}

.vert-center{
	height: 100%;
	display: flex;
  	align-items: center;

}