@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    background: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
	font-size: 30px;
}

h1, h2{
	color: white;
	font-family: Montserrat;
}

a{
	color: white;
	text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.header{
	padding-left: 20px;
	padding-top: 10px;
}

.footer{
	padding-right: 80px;
	padding-bottom: 20px;
	position: fixed;
    bottom: 0;
    right: 0;
}
